@typeparam T
<select @bind="@SelectedIndex">
    @if (!Equals(Source, default))
    {
        <option value="-1"></option>
        @if (!Equals(ChildContent, default))
        {
            @for (int i = 0; i < Source.Count; i++)
            {
                <option value="@i">
                    @ChildContent(Source[i])
                </option>
            }
        }
        else
        {
            @for (int i = 0; i < Source.Count; i++)
            {
                <option value="@i">
                    @Source[i].ToString()
                </option>
            }
        }
    }
</select>

@code {
    [Parameter] public int SelectedIndex { get; set; }
    [Parameter] public IList<T> Source { get; set; }
    [Parameter] public RenderFragment<T> ChildContent { get; set; }


    protected override void OnInitialized()
    {
        if(Equals(SelectedIndex,default))
           SelectedIndex = 0;
        base.OnInitialized();
    }

}
